{% extends 'base.html.twig' %}

{% block body %}
    <h1>User edit</h1>
    {% block menu %}
        {# on utilise include pour charger le menu#}
        {% include('perso/menu.html.twig  ') %}
    {% endblock %}
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('utilisateur_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
